In [43]:
import pandas as pd
import glob
import os
from sqlalchemy import create_engine

os.listdir("bases/")

['residencias.csv',
 'media_preco.csv',
 'airbnb_ny_2019.csv',
 'mapeamento_vizinhanca.csv']

In [105]:
airbnb = pd.read_csv("bases/airbnb_ny_2019.csv")

In [5]:
mapviz = pd.read_csv('bases/mapeamento_vizinhanca.csv', sep=';')

In [6]:
f_airbnb = airbnb.drop_duplicates()

In [7]:
f_airbnb = f_airbnb.dropna()

In [8]:
f_mapviz = mapviz.drop_duplicates()

In [9]:
f_mapviz = f_mapviz.dropna()

In [13]:
new_airbnb = pd.merge(left=f_airbnb, right=f_mapviz, how='left', left_on='neighbourhood', right_on='vizinhanca')

In [15]:
del new_airbnb['vizinhanca']

In [29]:
new_airbnb.rename(columns={"vizinhanca_grupo":"neighbourhood_group"}, inplace=True)

In [72]:
res = new_airbnb[new_airbnb.neighbourhood_group.isin(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island'])]

In [73]:
res.to_csv('bases/residencias.csv', index=False)

In [106]:
res = pd.read_csv('bases/residencias.csv', usecols=['neighbourhood_group', 'room_type','price'])

In [107]:
means = res.groupby(['neighbourhood_group', 'room_type']).mean()

In [83]:
means.to_csv('bases/media_preco.csv')

---
*A partir daqui, ocorre a carga de um Banco de dados SQLite para uso da API*

---

In [97]:
res = pd.read_csv('bases/residencias.csv')

In [98]:
engine = create_engine('sqlite:///titau/tItau.db', echo=True)

In [99]:
dbconn = engine.connect()

2020-08-03 14:15:08,504 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-08-03 14:15:08,514 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 14:15:08,524 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-08-03 14:15:08,530 INFO sqlalchemy.engine.base.Engine ()

In [100]:
res.to_sql('residencias', dbconn, if_exists='fail', index=False)

2020-08-03 14:15:13,821 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("residencias")
2020-08-03 14:15:13,822 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 14:15:13,823 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("residencias")
2020-08-03 14:15:13,824 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 14:15:13,827 INFO sqlalchemy.engine.base.Engine
CREATE TABLE residencias (
	id BIGINT,
	name TEXT,
	host_id BIGINT,
	host_name TEXT,
	neighbourhood TEXT,
	latitude FLOAT,
	longitude FLOAT,
	room_type TEXT,
	price BIGINT,
	minimum_nights BIGINT,
	number_of_reviews BIGINT,
	last_review TEXT,
	reviews_per_month FLOAT,
	calculated_host_listings_count BIGINT,
	availability_365 BIGINT,
	neighbourhood_group TEXT
)


2020-08-03 14:15:13,829 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 14:15:14,052 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-03 14:15:14,123 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-03 14:15:14,840 INFO sqlalchemy.engine.base.Engine INSERT INTO residencias (id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, neighbourhood_group) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2020-08-03 14:15:14,841 INFO sqlalchemy.engine.base.Engine ((2539, 'Clean & quiet apt home by the park', 2787, 'John', 'Kensington', 40.64749000000001, -73.97237, 'Private room', 149, 1, 9, '2018-10-19', 0.21, 6, 365, 'Brooklyn'), (2595, 'Skylit Midtown Castle', 2845, 'Jennifer', 'Midtown', 40.75362, -73.98376999999998, 'Entire home/apt', 225, 1, 45, '2019-05-21', 0.38, 2, 355, 'Manhattan'), (3831, 'Cozy Entire Floor of Brownstone', 4869, 'LisaRoxanne', 'Clinton Hill', 40.685140000000004, -73.95976, 'Entire home/apt', 89, 1, 270, '2019-07-05', 4.64, 1, 194, 'Brooklyn'), (5022, 'Entire Apt: Spacious Studio/Loft by central park', 7192, 'Laura', 'East Harlem', 40.79851, -73.94399, 'Entire home/apt', 80, 10, 9, '2018-11-19', 0.1, 1, 0, 'Manhattan'), (5099, 'Large Cozy 1 BR Apartment In Midtown East', 7322, 'Chris', 'Murray Hill', 40.74767, -73.975, 'Entire home/apt', 200, 3, 74, '2019-06-22', 0.59, 1, 129, 'Manhattan'), (5121, 'BlissArtsSpace!', 7356, 'Garon', 'Bedford-Stuyvesant', 40.68688, -73.95596, 'Private room', 60, 45, 49, '2017-10-05', 0.4, 1, 0, 'Brooklyn'), (5178, "Large Furnished Room Near B'way ", 8967, 'Shunichi', "Hell's Kitchen", 40.76489, -73.98493, 'Private room', 79, 2, 430, '2019-06-24', 3.47, 1, 220, 'Manhattan'), (5203, 'Cozy Clean Guest Room - Family Apt', 7490, 'MaryEllen', 'Upper West Side', 40.80178, -73.96723, 'Private room', 79, 2, 118, '2017-07-21', 0.99, 1, 0, 'Manhattan')  ... displaying 10 of 37946 total bound parameter sets ...  (36438336, 'Seas The Moment', 211644523, 'Ben', 'Great Kills', 40.54179, -74.14275, 'Private room', 235, 1, 1, '2019-07-07', 1.0, 1, 87, 'Staten Island'), (36455809, 'Cozy Private Room in Bushwick, Brooklyn', 74162901, 'Christine', 'Bushwick', 40.69805, -73.92801, 'Private room', 30, 1, 1, '2019-07-08', 1.0, 1, 1, 'Brooklyn'))
2020-08-03 14:15:15,254 INFO sqlalchemy.engine.base.Engine COMMIT

In [108]:
means = pd.read_csv('bases/media_preco.csv')

In [109]:
means.to_sql('medias', dbconn, if_exists='fail',  index_label='id')

2020-08-03 16:53:15,810 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("medias")
2020-08-03 16:53:15,813 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 16:53:15,844 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("medias")
2020-08-03 16:53:15,846 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 16:53:15,849 INFO sqlalchemy.engine.base.Engine
CREATE TABLE medias (
	id BIGINT,
	neighbourhood_group TEXT,
	room_type TEXT,
	price FLOAT
)


2020-08-03 16:53:15,851 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 16:53:16,159 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-03 16:53:16,160 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_medias_id ON medias (id)
2020-08-03 16:53:16,161 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 16:53:16,337 INFO sqlalchemy.engine.base.Engine COMMIT
2020-08-03 16:53:16,365 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-08-03 16:53:16,366 INFO sqlalchemy.engine.base.Engine INSERT INTO medias (id, neighbourhood_group, room_type, price) VALUES (?, ?, ?, ?)
2020-08-03 16:53:16,368 INFO sqlalchemy.engine.base.Engine ((0, 'Brooklyn', 'Entire home/apt', 171.28189729133473), (1, 'Brooklyn', 'Private room', 73.34956195244055), (2, 'Brooklyn', 'Shared room', 45.45862068965517), (3, 'Manhattan', 'Entire home/apt', 230.2009636619153), (4, 'Manhattan', 'Private room', 106.60748849754086), (5, 'Manhattan', 'Shared room', 77.98033707865169), (6, 'Queens', 'Entire home/apt', 139.22560275545348), (7, 'Queens', 'Private room', 69.30283793876026)  ... displaying 10 of 12 total bound parameter sets ...  (10, 'Staten Island', 'Private room', 57.58490566037736), (11, 'Staten Island', 'Shared room', 57.6))
2020-08-03 16:53:16,373 INFO sqlalchemy.engine.base.Engine COMMIT

In [103]:
sql_likes = '''
CREATE TABLE likes (
	id BIGINT, 
	residencia_id BIGINT,
    like INT default 1
)
'''
dbconn.execute(sql_likes)

2020-08-03 14:15:50,275 INFO sqlalchemy.engine.base.Engine
CREATE TABLE likes (
	id BIGINT,
	residencia_id BIGINT,
    like INT default 1
)

2020-08-03 14:15:50,284 INFO sqlalchemy.engine.base.Engine ()
2020-08-03 14:15:50,574 INFO sqlalchemy.engine.base.Engine COMMIT